.header {
    background-color: $blackLayer;
    border-radius: $lg;
    padding: 0 $xl2;
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 77px;

    .title {
        font-size: 24px;
        font-weight: 500;
        width: 230px;
        overflow: hidden;
    }
}

.line {
    width: 2px;
    height: 23px;
    background-color: $blackCommon;
}